
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    width: 100%;
    height: calc(100vh - 100px);
}

.title{
    font-size: 32px;
    font-weight: 700;
    color:#121212;
}